.label {
    color: black!important;
}


.button{
  text-decoration: none !important;
}
.admin-menu:hover  {
  text-decoration: none !important;
}
.nav-item:hover {
  text-decoration: none !important;
}