html {
  height: 100%!important;
  font-size: 16px;
  overflow: auto;
};
body {
  min-height: 100%!important;
  display: flex!important;
  flex-direction: column!important;
  font-size: $size-6;
};
.main-content {
  flex: 1!important;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  z-index:2;
};

.footer-container {
  margin-bottom: 15px;
  height:30px;
  font-size: 13px;
  line-height: 30px;
  margin-top: 17px;
  color:#A5A5A5;
  float:right;
  padding-right: 20px;

}

.footer-wrapper {
    background-color: #FFFFFF;
}
.termini{
  width:90%;
  max-width: 1000px;
}#calendar a{
  color:#666666;
}#calendar a:visited{
  color:#666666;
}.fc-content{
  color:#FFFFFF;
}

.help-block {
  color: red;
  font-size: 0.8rem;
}
